/* COLORS */
$outer-bg-clr: rgba(#b9bfd9, 0.44);
$inner-bg-clr: #a5b2cc;
$inner-border-clr: #609fff;

$default-text-clr: #000000;

$button-clr: #143459;
$button-txt-clr: #e5def1;
$button-active-clr: darken($button-clr, 80%);
$button-txt-active-clr: #fff;
